include ../metrics/sexes
include ../metrics/roles
include ../metrics/ages

mixin platform(platform)
  section.platform
    h1
        a(id=platform.title, href='#' + platform.title)=platform.title.toUpperCase()
        span.subtitle=' (' + platform.startYear + '–' + platform.endYear + ')'
    aside.metrics
        h3.hidden=platform.title.toUpperCase() + ' metrics'
        .metrics_grid
            +sexes(platform.metrics.sexes)
            +roles(platform.metrics.roles)
        .metrics_grid
            +ages(platform.metrics.ages)
    each game in platform.games
        section.game
            .game_header
                h2
                    a(id=game.slug, href='#' + game.slug)=game.title
                    span.subtitle='(' + game.year + ', ' + game.platform.toUpperCase() + ')'
                aside.metrics
                    h3.hidden=game.title + ' metrics'
                    +sexes(game.metrics.sexes)
            ul.characters
                each character, characterName in game.characters
                    li(class='character ' + character.age + character.sex + ' ' + character.role, title=character.friendlyAge + ' ' + character.friendlySex + ' ' + character.role)=characterName
                